{% extends "jacked/base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createMesoModal">
    Create Meso
</button>

<!-- Modal -->
<div class="modal fade" id="createMesoModal" tabindex="-1" role="dialog" aria-labelledby="createMesoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="createMesoModalLabel">Create Macro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="content-section">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Create Mesocycle</legend>
                                {{form|crispy}}
                            </fieldset>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Add Meso Cycle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Duration</th>
        <th scope="col"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for mesocycle in mesos %}
    <tr>
        <th> {{ forloop.counter0 }}</th>
        <th>{{mesocycle.name}}</th>
        <td>{{mesocycle.description}}</td>
        <td>{{mesocycle.duration}}</td>
        <td>
            <button type="button" class="btn btn-danger">Danger</button>
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock content %}